@model object
<div class="container">
    <div class="row justify-content-center align-content-center" style="height:100vh;">
        <h1 style="width:100%" class="text-center mb-3">Total price for reservation.</h1>
        <div  style="border-radius: 50%; height: 40vh; width: 40vh; background-color: #20c997; display: flex; align-items: center; justify-content: center;">
            <h1 >
                @Model $
            </h1>
        </div>
    </div>
</div>


