<div class="container">
    <h1 class="mt-4 text-center">Control Panel</h1>
    <div class="card-deck mt-4">
        <div class="card">
            <img class="card-img-top" src="~/img/meals.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Meals Plans</h5>
                <p class="card-text">Add,Update and Delete new Meal Plan</p>
                <a class="btn btn-secondary" asp-area="" asp-controller="Meal" asp-action="Index">Start</a>
            </div>

            <div class="card-footer">
                <small class="text-muted">Divers Hotel</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/Hotel Room.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Room Types</h5>
                <p class="card-text">Add,Update and Delete new Room Type</p>
                <a class="btn btn-warning" asp-area="" asp-controller="Room" asp-action="Index">Start</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Divers Hotel</small>
            </div>
        </div>
    </div>
</div>